<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Article">

	<insert id="saveArticle" parameterType="article">
		insert into bj_article_temp(
		carModel, carFirm, type, website, 
		url, author, time, date, kspId,
		title, content, content2, hits, replies, 
		createdTime) 
		values( 
		#{carModel}, #{carFirm}, #{type}, #{website},
		#{url}, #{author}, #{time}, #{date}, #{kspId} 
		 #{title}, #{content}, #{content2}, #{hits}, #{replies},
		#{createdTime});
	</insert>

	<!-- 根据查询我的浏览记录 -->
	<select id="getAllArticles" resultType="article" useCache="true">
		select * from bj_article_temp where title like '%2017%' order by id desc; 
	</select>
	
	<select id="findDuplicatedArticle" resultType="article" parameterType="article" useCache="true">
		select art.id from bj_article_temp art 
		where art.date = #{date}
		and art.author = #{author}
		and art.title = #{title}
		and art.url = #{url}
		limit 0,10
	</select>
	

</mapper>